.two-factor-code-inputs input {
  width: 2rem;
  padding: 0;
  border-radius: 8px;
  height: 3rem;
  margin-right: 9px;
  font-family: cursive;
  font-size: 1.8rem;
  text-align: center;
  color: white;
  background: none;
  border: 3px solid #848ea5;
  border-radius: 9px;
  caret-color: transparent;
}

.two-factor-code-inputs input:focus {
  border: 4px solid #647bb1;
}

.two-factor-code-inputs input::selection {
  background-color: transparent;
}

.two-factor-code-inputs input::-webkit-outer-spin-button,
.two-factor-code-inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.submit-btn {
  background: none;
  border: 2px solid #647bb1;
  width: 10rem;
  font-family: 'Roboto';
  font-size: 1.1rem;
  color: #fff;
  height: 2.3rem;
  margin-top: 13px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #647bb1;
}

.two-factor-code-inputs.submitted input:invalid {
  border: 3px solid #a55353;
}

.two-factor-code-inputs.submitted input:invalid:focus {
  border: 4px solid #c93c3c;
}
