<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
 <header th:fragment="header (mainPage, theme, auth)"  th:class="'p-3 mb-3 border-bottom select-none ' + ${theme == 'dark'? 'text-bg-dark' : 'text-bg-light'}">
   <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered">
       <div class="modal-content" style="border: none; border-radius: 10px;">
         <div th:class="'modal-header text-bg-' + ${theme}">
           <h5 th:class="'modal-title text-bg-' + ${theme}" id="exampleModalLabel" th:text="#{profile}"></h5>
           <button type="button" th:class="'btn-close' + ${theme == 'dark' ? ' btn-close-white' : ''}" data-bs-dismiss="modal"></button>
         </div>
         <div th:class="'modal-body text-bg-' + ${theme}">
           <input placeholder="Admin" th:style="'box-shadow: 4px 4px 10px rgb(' + ${theme == 'dark'? '255 255 255 / 23%' : '0 0 0 / 6%'} + ');'"/>
           <div class="avatar-upload">
             <div class="avatar-edit">
               <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
               <label for="imageUpload"></label>
             </div>
             <div class="avatar-preview">
               <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
               </div>
             </div>
           </div>
         </div>
         <div th:class="'modal-footer text-bg-' + ${theme}">
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <button type="button" class="btn btn-primary">Save changes</button>
         </div>
       </div>
     </div>
   </div>

   <div class="d-flex flex-wrap align-items-center justify-content-center container">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <a th:href="${'/main?lang=' + lang}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <img src="https://raw.githubusercontent.com/Krokochik/resources/main/signage.png" alt="" width="23" height="24">
          </a>
          <li><a th:href="'/main?lang=' + ${lang} + '&theme=' + ${theme}" th:class="'nav-link px-2 ' + ${mainPage == 'main' ? theme == 'dark'? 'link-primary-light' : 'link-primary-dark' : theme == 'dark'? 'link-light' : 'link-dark'}" th:text="#{home}"></a></li>
          <li><a th:href="'/add-note?lang=' + ${lang} + '&theme=' + ${theme}" th:class="'nav-link px-2 ' + ${mainPage == 'add-note' ? theme == 'dark'? 'link-primary-light' : 'link-primary-dark' : theme == 'dark'? 'link-light' : 'link-dark'}" th:text="#{add entry}"></a></li>
        </ul>

        <div class="d-flex" role="search" data-np-checked="1">
          <input th:class="'form-control me-2 ' + ${theme == 'dark'? 'text-bg-dark' : 'text-bg-light'}" th:placeholder="@{#{search}+...}" aria-label="Search" data-np-checked="1">
          <button class="btn btn-outline-success me-2" type="button" th:text="#{search}"></button>
          <div class="dropdown text-end">
            <a href="#" th:class="'d-block text-decoration-none dropdown-toggle ' + ${theme == 'dark'? 'text-bg-dark link-light' : 'text-bg-light link-dark'}" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://raw.githubusercontent.com/Krokochik/resources/main/guest.png" alt="guest" width="35" height="35" class="rounded-circle">
            </a>
            <ul th:class="'dropdown-menu light ' + ${theme == 'dark'? 'dropdown-menu-dark' : ''}">
              <li th:if="${auth}"><a class="dropdown-item" th:href="'/add-note?lang=' + ${lang} + '&theme=' + ${theme}" th:text="#{add entry}"></a></li>
              <li th:if="${auth}"><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="#{profile}"></button></li>
              <li><a class="dropdown-item" th:href="'/settings?lang=' + ${lang} + '&theme=' + ${theme}" th:text="#{settings}"></a></li>
              <li><hr th:class="'dropdown-divider ' + ${theme == 'dark'? 'bg-light' : 'bg-dark'}"></li>
              <li><a class="dropdown-item" th:href="${auth? '/logout' : '/login'}" th:text="#{${auth? 'logout' : 'login'}}"></a></li>
            </ul>
          </div>
        </div>
      </div>
  </header>
</body>
</html>