<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org/">
    <head>
        <meta charset="UTF-8">
        <title>Кубики</title>
        <style>
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
</style>
    </head>
    <body>
        <input value="1" type="number" min="-2000000000" max="2000000000" id="minValue" placeholder="Min Value" style="margin-left: 40%; margin-top: 25%; margin-right: 15px;">
        ~
        <input value="46" type="number" min="-2000000000" max="2000000000" id="maxValue" placeholder="Max Value" style="margin-left: 15px; margin-top: 50px; margin-right: 15px">
        x
        <input value="10" type="number" min="0" max="10" id="repeats" placeholder="Repeats" style="margin-left: 15px; margin-top: 50px; margin-right: 15px; width: 100px">

        <div class="numbers">
        </div>
        <script src="../static/client.js?ver=3" th:src="@{/client.js}"></script>
    </body>
</html>