<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" translate="no">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZGY1BPG84M"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZGY1BPG84M');
</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="#{settings}"></title>
    <meta name="description" content="Форум для Ваших идей. Смотрите, делитесь, вдохнавляйтесь и воплащайте!">

    <style th:replace="resources :: list-groups"></style>
    <style th:replace="resources :: list-groups-2"></style>
    <style th:replace="resources :: list-groups-3"></style>
    <style th:replace="resources :: select-none"></style>


    <link rel="icon" href="https://raw.githubusercontent.com/Krokochik/resources/main/signage.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.2/examples/sidebars/sidebars.css" rel="stylesheet" crossorigin="anonymous">
</head>

<body style="min-height: 100vh;" th:class="'bg-' + ${theme == 'dark'? 'secondary' : 'white'}">
    <input type="hidden" id="language" th:value="${lang}">
    <input type="hidden" id="theme" th:value="${theme}">
    <span class="d-block small opacity-50" style="display: none;" id="fSpan1" th:text="#{enableDarkTheme}"></span>
    <span class="d-block small opacity-50" style="display: none;" id="fSpan2" th:text="#{enableLightTheme}"></span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan1">English</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan2">Русский</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan3">Український</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan4">Беларускі</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan5">Italiano</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan6">Français</span>
    <span class="d-block small opacity-50" style="display: none;" id="sSpan7">Deutsch</span>


    <header th:replace="header :: header ('settings', ${theme}, ${auth})"></header>

    <div class="main"><div class="select-none">
        <form>
            <div style="margin: 4rem auto; margin-top: 2rem;" class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                <p style="text-right: left; margin-right: auto;" th:class="'mb-2 fs-2 fw-bold ' + ${theme == 'dark'? 'text-light' : 'text-dark'}" th:text="#{theme}"></p>
                <input class="list-group-item-check pe-none" onclick="toDark();" type="radio" name="listGroupCheckableRadios" id="fListGroupCheckableRadios1" value="" data-np-checked="1">
                <label id="fLabel1" th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" for="fListGroupCheckableRadios1" th:text="#{darkTheme}">
                </label>

                <input class="list-group-item-check pe-none" type="radio" onclick="toLight();" name="listGroupCheckableRadios" id="fListGroupCheckableRadios2" value="" data-np-checked="1">
                <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="fLabel2" for="fListGroupCheckableRadios2" th:text="#{lightTheme}">
                </label>
            </div>
        </form>

        <div class="b-example-divider"></div>

        <form>
            <div style="margin: 4rem auto; margin-top: 2rem;" class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
                <p style="text-right: left; margin-right: auto;" th:class="'mb-2 fs-2 fw-bold ' + ${theme == 'dark'? 'text-light' : 'text-dark'}" th:text="#{language}"></p>
                <div class="container-xl item-center">
                    <div class="row">
                        <div style="padding-left: 0px;" class="col">
                            <input class="list-group-item-check pe-none" onclick="switchLang('en')" type="radio" name="listGroupCheckableRadios" id="sListGroupCheckableRadios1" value="" data-np-checked="1">
                            <label id="sLabel1" th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" for="sListGroupCheckableRadios1" th:text="#{language.en}">
                            </label>
                        </div>

                        <div style="padding-left: 0px; padding-right: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" onclick="switchLang('ru')" name="listGroupCheckableRadios" id="sListGroupCheckableRadios2" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="sLabel2" for="sListGroupCheckableRadios2" th:text="#{language.ru}">
                            </label>
                        </div>
                    </div>

                    <div class="mb-2"></div>

                    <div class="row">
                        <div style="padding-left: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" onclick="switchLang('uk')" name="listGroupCheckableRadios" id="sListGroupCheckableRadios3" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="sLabel3" for="sListGroupCheckableRadios3" th:text="#{language.uk}">
                            </label>
                        </div>

                        <div style="padding-left: 0px; padding-right: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" onclick="switchLang('be')" name="listGroupCheckableRadios" id="sListGroupCheckableRadios4" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="sLabel4" for="sListGroupCheckableRadios4" th:text="#{language.be}">
                            </label>
                        </div>
                    </div>

                    <div class="mb-2"></div>

                    <div class="row">
                        <div style="padding-left: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" onclick="switchLang('it')" name="listGroupCheckableRadios" id="sListGroupCheckableRadios5" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="sLabel5" for="sListGroupCheckableRadios5" th:text="#{language.it}">
                            </label>
                        </div>

                        <div style="padding-left: 0px; padding-right: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" onclick="switchLang('fr')" name="listGroupCheckableRadios" id="sListGroupCheckableRadios6" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" id="sLabel6" for="sListGroupCheckableRadios6" th:text="#{language.fr}">
                            </label>
                        </div>
                    </div>

                    <div class="mb-2"></div>

                    <div class="row">
                        <div style="padding-left: 0px; padding-right: 0px;" class="col">
                            <input class="list-group-item-check pe-none" type="radio" name="listGroupCheckableRadios" id="sListGroupCheckableRadios7" value="" data-np-checked="1">
                            <label th:class="${theme == 'light'? 'light-theme' : 'dark-theme'} + ' rounded-3 py-3'" onclick="switchLang('de')" id="sLabel7" for="sListGroupCheckableRadios7" th:text="#{language.de}">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="https://getbootstrap.com/docs/5.2/examples/sidebars/sidebars.js" crossorigin="anonymous"></script>
    <script th:replace="resources :: settings-script"></script>
</body>
</html>